* {
    margin: 0;
    padding: 0;
}

html, body {
    max-width: 100%;
    height: 100%;
    font-size: 18px;
    font-family: 'Spartan', sans-serif;
    font-weight: 600;
}

a, a:link, a:hover {
    text-decoration: none;
    color: inherit;
}

a:active {
    color: maroon;
}

.main-wrapper{
    max-width: 100%;
    height: 100%;
    display: grid;

        grid-template-columns: 
            
            /* || */
            [left-line-margin] 0.5vh
            [main-content] 1fr
            [dividing-linev] 1vh
            [right-side-content-newgrid] 1fr;

        grid-template-rows: 

            /* = */
            [main-header] 10vh
            [dividing-line] 0.5vh
            [main-content] 1fr
            [footer] 10vh;

        grid-template-areas: 
        
            "header header header header"
            "hline hline hline hline"
            "vline mcontent vlinec newgrid"
            "footer footer footer footer";

}

#header {
    grid-area: header;
    display: flex;
    background-color: #222;
    justify-content: space-between;
}

#header p{
    color: #fff;
    font-size: 2rem;
    align-self: center;
    margin-left: 1.2vw;
}

#header a:active{
    color: inherit;
}

#form {
    height: 4vh;
    display: flex;
    align-self: center;
    margin-right: 1.2vw;
}

#form input {
    padding: 0 0.8vw;
    background-color: #F4F2F3;
}

#dividing-line-h {
    grid-area: hline;
    background-color: maroon;
}

#dividing-line-v {
    grid-area: vlinec;
}

#left-line-margin {
    grid-area: vline;
    background-color: #3B3738;
    color: silver;
    letter-spacing: 0.3vh;
    line-height: 8.5vh;
    padding-left: 0.62vw;
    padding-top: 2.3vh;
}

#main-content {
    grid-area: mcontent;
    background-color: #D2D3D5;
    display: grid;

    grid-template-columns: 
        
        [action-dividing] 1fr;
    
    grid-template-rows:
        
        [main-video-line-dividing] 3fr
        [title-upper-line] 1fr;

    grid-template-areas:
        
        "main-video"
        "title-area";
}

#main-video {
    grid-area: main-video ;
}

#title-line {
    grid-area: title-area;
    display: flex;
    justify-content: space-between;
    padding-right: 1vw;
    padding-left: 1vw;
}

#footer {
    display: flex;
    grid-area: footer;
    background-color: peru;
   
}

#footer p {
    margin-left: 1.2vw;
    align-self: center;
    font-size: 0.7rem;
    color: palegoldenrod;
}

/* New-Grid */

    #right-side-content-newgrid {
        grid-area: newgrid;
        display: grid;
        background-color: #F7F4F6;

        grid-template-columns: 

            /* || */
            [newgrid-side-content-dividing-vertical-left] 18vw
            [newgrid-side-content-dividing-vertical-right] 1fr;

        grid-template-rows: 
        
            /* = */
            [newgrid-side-content-dividing-horizontal-upper] 1fr
            [newgrid-side-content-dividing-horizontal-middle] 1fr
            [newgrid-side-content-dividing-horizontal-bottom] 1fr;

        grid-template-areas:
            
            "newgrid-upper-left  newgrid-upper-right"
            "newgrid-middle-left  newgrid-middle-right"
            "newgrid-bottom-left  newgrid-bottom-right";

    }

        #newgrid-upper-left {
            grid-area: newgrid-upper-left;
        }

        #newgrid-upper-left img{
            width: 99%;

        }
        #newgrid-upper-left p {
            text-align: center;
        }

        #newgrid-upper-right {
            grid-area: newgrid-upper-right;
        }

        #newgrid-upper-right img {
            width: 99%;
        }

        #newgrid-upper-right p {
            text-align: center;
        }

        #newgrid-bottom-left {
            grid-area: newgrid-bottom-left;
        }

        #newgrid-bottom-left p {
            text-align: center;
        }

        #newgrid-bottom-left img {
            width: 99%;
        }

        #newgrid-middle-left img {
            width: 99%;
        }

        #newgrid-bottom-right {
            grid-area: newgrid-bottom-right;
        }

        #newgrid-bottom-right p {
            text-align: center;
        }

        #newgrid-middle-left {
            grid-area: newgrid-middle-left;
        }

        #newgrid-middle-left p {
            text-align: center;
        }

        #newgrid-middle-right {
            grid-area: newgrid-middle-right;
        }
/* end New Grid */

.video {
    max-width: 98%;
    height: auto;
}